

<div class="container text-center p-5">

    <div class="spinner-border" role="status" *ngIf="estaCarregando" >
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="!estaCarregando && !erroNoCarregamento">
        <p> Nome: {{ contato.nome }}</p> 
        <p> CPF: {{ contato.cpf }}</p> 
        <p> Banco: {{ contato.banco }}</p> 
        <p> Agencia: {{ contato.ag }}</p> 
        <p> Conta Corrente: {{ contato.cc }}</p> 
    </div>

    <button class="btn btn-primary" (click)="voltar()">
        Voltar
    </button>
</div>